

body{
    background-color: #618685;
    margin: 0;
}

.navBar_container{
    background-color:#4040a1;
    position: sticky;
    width: 100%;
    top: 0;
    height: 5%;
    z-index: 1;

    /* top: 50px; */
    display: flex;
    /* display: none; */
}
.navBar_text{
    color: white;
    font-size: 70px;
    padding: 10px;
    /* display: flex; */
}

.navBar_links{
    /* float: center; */
    padding: 10px;
    display: flex;
    /* color: white; */

    /* position: sticky; */
}

.navbarPlaceHolder{
    width: 100%;
    height: 0px;
}

.link{
    display: inline;
    padding: 5px;
    /* border-style: solid;
    border-width: 1px;
    border-radius: 20px; */
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 190%;
    /* align-items: center; */
    /* float: right; */
    /* & button{
        width: 500px;
    } */
}

.linkButton_button{
    width: 100px;
}

/* .contactMe_header{
    font-size: 200px;
} */

.linkButton{
    padding: 10px;
}

 .contactMe_container{
    /* background-color: #fefbd8; */
    /* margin-top: 20px; */
    height: 80px;
    transition-duration: .25s;
    font-size: 18px;

 }

 .contactMe_container:hover{
    background-color: #4040a1;
    transition-duration: .25s;
    a{
        color:white;
    }
 }

.devPhoto_name{
    text-align: center;
    background-color:  #36486b;
    color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-size: 50px;
    font-weight: 600;
    padding: 10px;
}

.emailLink::before{
    content: "🖂";
    color: #fefbd8;
    padding: 5px;
    font-weight: 400;
    font-size: 40px;
}

.contactLink:hover{
    font-size: 17px;
}


.phoneLink::before{
    content: "🕿";
    color: #fefbd8;
    padding: 5px;
    font-weight: 400;
    font-size: 40px;
}

.linkedInLink::before{
    content: "📂";
    color: #fefbd8;
    padding: 5px;
    font-weight: 400;
    font-size: 40px;
}

.contactMe_list ul{
    display: flex;
    justify-content: space-around;
    margin: 0;
    list-style: none;
    
    /* padding: 10px; */
    /* margin: 5px; */
    a{
    text-decoration: none;
    color: black; 
    font-size: 18px;
    }

}



.contactMe_header{
    display: flex;
    justify-content: center;
    font-size: 120px;
    padding: 20px;
    font-weight: 800;
    color: white;
}



.contactMe_list li{
    margin: 10px;
}

.work{
    /* background-color: #fefbd8; */
    width: 28%;
    flex: 1 1 28%;
    text-align: center;
    /* width: 30%; */
    margin:10px;
    border-radius: 20px;
    height: 125px;
    padding: 20px;
}

.workButton{
    width: 100%;
    height: 125%;
    /* padding: 30px; */
    border-radius: 20px;
    /* background: url('IMG_20230312_1308331.jpg') no-repeat; */
    /* border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px; */
}

.backgroundProgjectOne{
    background: url(pexels-goumbik-1420701.jpg);
    background-size: 100%;
}

.backgroundProgjectTwo{
    background: url(pexels-pixabay-147413.jpg);
    background-size: 100%;
}

.backgroundProgjectThree{
    background: url(pexels-markusspiske-330771.jpg);
    background-size: 100%;
}


.backgroundProgjectFour{
    background: url(pexels-brett-sayles-3653997.jpg);
    background-size: 100%;
}

.backgroundProgjectFive{
    background: url(pexels-marcellino-andrian-209361-671629.jpg);
    background-size: 100%;
}

.backgroundProgjectSix{
    background: url(pexels-pixabay-534216.jpg);
    background-size: 100%;
}

button{
    /* background: url('IMG_20230312_1308331.jpg') no-repeat; */
}

.workButton:hover{
    cursor: pointer;
    width: 99%;
    height: 124%;
    
    .work_title{
        width: 76%;
        height: 41%;
    }

}

@media screen and (max-width: 1200px){
    .work{
        /* background-color: red; */
        width: 40%;
        flex: 1 1 40%;
    }

    /* .contactMe_container{
        font-size: 10px;
    } */
}

@media screen and (max-width: 900px){
    .work{
        /* background-color: blue; */
        width: 50%;
        flex: 1 1 60%;
    }

    /* .contactMe_container{
        font-size: 1px;
    } */
}

.work_container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    
}

.devPhoto_inside{
    transition: transform 1.6s;
    transform-style: preserve-3d;
    /* position: relative; */
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.devPhoto_front, .devPhoto_back{
    position: absolute;
    /* width: 100%; */
    /* left: 200px; */
    /* margin-left: 200px; */
    width: 300px;
    /* height: 1200px; */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.devPhoto_back {
    /* background-color: #black; */
    color: white;
    transform: rotateY(180deg);
    /* height: 1400px; */
    /* border-radius: 20px; */
  }

.devPhoto_container{
    background-color:#fefbd8;
    /* width: auto; */
    width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    margin-top: 10px;
    
}

.devPhoto_flip{
    /* perspective: 1000px; */
    height: 500px;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}

.devPhoto_flip:hover .devPhoto_inside{
    transform: rotateY(180deg);
    transition-duration: 2s;
}
.devPhoto_HeaderText{
    font-size: 40px;
    padding: 10px;
}

.work_title{
    background-color: rgba(255, 255, 255, 0.8);
    color:white;
    position:relative ;
    width: 75%;
    height: 40%;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    color: black;
    font-weight: 800;
    /* border-top-left-radius: 20px; */
    /* border-top-right-radius: 20px; */
    border-radius: 20px;
}

.devPhoto{
    /* width: 55%px; */
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 20px;
    margin-top: 10px;
}

.aboutMe_text{
    font-size: 140px;
    font-style: italic;
    text-align: center;
    /* width: 40%; */
    /* margin: 0 auto; */
}

.devPhoto_text{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    font-size: 20px;
}

.devPhoto_aboutMe{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
    height: 400px;
    background-color: #36486b;
    /* padding: 10px; */
    border-radius: 20px;
    /* margin: 0 5px; */
    /* margin-top: 10px; */
    /* border-bottom-left-radius: 20px; */
    /* border-bottom-right-radius: 20px; */
    margin-top: 10px;
}